@using MyCloud;

<h2>Dirs</h2>
<ul>
	<li><a href="/Home/FolderUp">..</a></li>
    @foreach (var dirModel in (ViewData["RootDir"] as DirModel).SubDirs) {
        <li>
           @*
           In a real ASP.NET world,  I would use Html.ActionLink and 
           ASP.NET would do rest. Unfortunately, this is mono...
           *@
            <a href="/Home/Browse/?PathName=@dirModel.EncodedFullName">@dirModel.Dir.Name</a>
            <!---<a href="/Home/FolderDown/?Name=@dirModel.EncodedName">@dirModel.Dir.Name</a>-->
        </li>
}
</ul>
<h2>Files</h2>
<ul>
    @foreach (var fileModel in (ViewData["RootDir"] as DirModel).Files) {
        <li>@fileModel.File.Name </li>
}
</ul>



