@using MyCloud;

<h2>Dirs</h2>
<ul>
	@{
		DirModel rootDir = (ViewData["RootDir"] as DirModel);
	}
	@if (rootDir.HasParent) {
		<li>
			<a href="/Home/Browse/?PathName=@rootDir.EncodedParent">..</a>
		</li>
	}

    @foreach (var dirModel in rootDir.SubDirs) {
        <li>
           @*
           In a real ASP.NET world,  I would use Html.ActionLink and 
           ASP.NET would do rest. Unfortunately, this is mono...
           *@
            <a href="/Home/Browse/?PathName=@dirModel.EncodedFullName">@dirModel.Dir.Name</a>
         </li>
}
</ul>
<h2>Files</h2>
<ul>
    @foreach (var fileModel in (ViewData["RootDir"] as DirModel).Files) {
        <li>
        	<a href="/Home/Download/?FileName=@fileModel.EncodedFullName">@fileModel.File.Name </a>
    	</li>
}
</ul>



