@using MyCloud;

<h2>Welcome to MyCloud!</h2>
<p>
    @{
    	var dirModel = (ViewData["RootDir"] as DirModel);
    }
    <a href="Home/Browse/?PathName=@dirModel.EncodedFullName">Start browsing in your Time Machine...</a>

 </p>




