@using MyCloud;

<h2>Welcome to MyCloud!</h2>
<p>
    @{
    	var dirModel = (ViewData["RootDir"] as DirModel);
    	string url = "Home/Browse/?PathName="+dirModel.EncodedFullName;
    	string imageurl = "Content/cloud.png";
    	if (Request.Url.AbsoluteUri.ToLower().EndsWith("home") || Request.Url.AbsoluteUri.ToLower().EndsWith("home/")) {
    		 url = "Browse/?PathName="+dirModel.EncodedFullName;
    		 imageurl = "../Content/cloud.png";
		}
    }
    <div align="center">
    <img src="@imageurl" /><br />
    <a href="@url">Hello! Click here to start browsing in your Time Machine...</a>
    </div>
  </p>




